<div class="card" style="width: 16rem; margin-bottom: 20px">
  <img src="/assets/images/141.jpg" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of
      the card's content.
    </p>

    <div class="container text-center">
      <div class="row">
        <button type="button" class="btn btn-outline-primary btn-block">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
