<div class="container pulldown">
  <div class="row">
    <div class="col-sm-3">
      <div class="list-group">
        <a
          class="list-group-item list-group-item-action"
          *ngFor="let c of catogeries"
          routerLink="/"
          [queryParams]="{ category: c.key }"
          [class.active]="category == c.key"
        >
          {{ c.name }}
        </a>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-4"><app-items></app-items></div>
        <div class="col-sm-4"><app-items></app-items></div>
        <div class="col-sm-4"><app-items></app-items></div>
        <div class="col-sm-4"><app-items></app-items></div>
        <div class="col-sm-4"><app-items></app-items></div>
      </div>
    </div>
  </div>
</div>
